---
title: projects
description: "some things i [am working / have worked] on"
layout: listing
style: projects
theme_color: "#30d7f2"
---
<!-- projects listing - not to be confused with an individual project's page -->
<h1 class="emphasis-highlight">/projects</h1>
<p class="subheader">{{page.description}}</p>

{% assign projects = site.projects | sort: "startDate" | reverse %}

{% comment %} because you can't have "where x *or* y" {% endcomment %}
{% assign current = wip | concat: on_hold | sort: "date" | reverse %}
{% assign past = completed | concat: scrapped | sort: "endDate" | reverse %}

{% comment %} the more i use liquid the more i hate it {% endcomment %}
{% assign current.size = current | size %}

<span class="project-category">
	<h2>current project{% if current.size != 1%}s{%endif%}</h2>
	<span>({{ current.size }})</span>
</span>
{% if current.size == 0 %}
	<p>nothing here… for now.</p>
{% else %}
	{% for page in current %}
		{% include block.html type="project" %}
	{% endfor %}
{% endif %}

<span class="project-category">
	<h2>past projects</h2>
	<span>({{ completed | size }} completed, {{ scrapped | size }} scrapped)</span>
</span>
{% if past.size == 0 %}
	<p>nothing here… yet.</p>
{% else %}
	{% for page in past %}
		{% include block.html type="project" %}
	{% endfor %}
{% endif %}
