---
---
<!-- for use in blog posts. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XDV4KT71FZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XDV4KT71FZ');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/blog.css">
    <style>
        header{
            background-image: linear-gradient(#308af2cc, #308af2cc), url({{page.headerImage}});
        }
    </style>
    {% feed_meta %}
</head>

{% include navigation.html %}

<header>
    <div>
        <div class="inner-content">
            <h1 id="title">{{ page.title }}</h1>
            <p class="subtitle">{{page.description}} <br> published {{ page.date | date_to_string | downcase }}</p>
        </div>
    </div>
</header>

<main>
{{ content }}
</main>

{% include footer.html %}

</html>
